@attribute [Authorize]
@page "/task-details/{TaskId:int}"

@using Models
@using Services
@using ViewModels.ReleasesModels
@using ViewModels.TasksModels

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ReleasesService ReleasesService
@inject TasksService TasksService

@if (task == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="float-left">@task.Type</div>
                    @if (task.Release != null)
                    {
                        <div class="float-right">
                            <a href="/release-details/@task.Release.ReleaseId">@task.Release.Title</a>
                        </div>
                    }
                </div>
                <div class="card-body">
                    <h5 class="card-title">@task.Title</h5>
                    <p>Story points: @task.StoryPoint</p>
                    <p><progress value="@task.Progress" max="100" /> @task.Progress %</p>
                    <p class="card-text">@task.Description</p>
                </div>
                <AuthorizeView Roles="TaskEditors">
                    <div class="card-footer">
                        <a class="btn btn-link" href="/edit-task/@TaskId">Edit</a>
                    </div>
                </AuthorizeView>
            </div>
            <AuthorizeView>
                <Authorized Context="Auth">
                    <br />
                    <div class="card">
                        <div class="card-header">Comments</div>
                        <div class="card-body">
                            <div>
                                <div>
                                    <form class="form-inline" @onsubmit="async() => await AddCommentToTaskAsync(Auth.User.Identity.Name)">
                                        <div class="form-group mx-sm-2 mb-2">
                                            <label for="text" class="sr-only">Text:</label>
                                            <input type="text" class="form-control" id="text" placeholder="Comment" @bind-value="addCommentToTaskModel.Text" />
                                        </div>
                                        <button type="submit" class="btn btn-primary mb-2">Comment</button>
                                    </form>
                                </div>
                                <br />
                                <ul class="list-group">
                                    @foreach (var taskComment in task.TaskComments)
                                    {
                                        <li class="@(taskComment.Text.ToLower().Contains(Auth.User.Identity.Name.ToLower()) ? "list-group-item-info " : "") list-group-item">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">@taskComment.IdentityUser.UserName</h5>
                                                <small>
                                                    @taskComment.Created
                                                    @if (Auth.User.Identity.Name == taskComment.IdentityUser.UserName)
                                                    {
                                                        <button class="btn btn-danger" @onclick="async() => await DeleteCommentAsync(taskComment.TaskCommentId)"><span class="oi oi-trash"></span></button>
                                                    }
                                                </small>
                                            </div>
                                            <p class="mb-1">@taskComment.Text</p>
                                            <small>Donec id elit non mi porta.</small>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <p>You are not authorized to track comments.</p>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <div class="col-6">
            @if (task.Release == null)
            {
                <div class="card">
                    <div class="card-header">Add to release</div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="releaseId">Release id:</label>
                                <input id="releaseId" type="number" class="form-control" @bind="releaseId" />
                            </div>
                        </form>
                        @if (addingTaskToReleaseErrorMessage != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @addingTaskToReleaseErrorMessage
                            </div>
                        }
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit" @onclick="async() => await AddToReleaseAsync()">Add</button>
                    </div>
                </div>
                <br />
            }
            <div class="card">
                <div class="card-header">Dependant tasks</div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="dependentTaskId">Dependent task id:</label>
                            <input id="dependentTaskId" type="number" class="form-control" @bind="dependentTaskId" />
                        </div>

                        @if (addingDependentTaskErrorMessage != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @addingDependentTaskErrorMessage
                            </div>
                        }
                    </form>

                    <div class="list-group">
                        @foreach (var dependentTask in task.DependentTasks)
                        {
                            <a class="list-group-item list-group-item-action" href="task-details/@dependentTask.TaskId">#@dependentTask.TaskId @dependentTask.Title</a>
                        }
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" @onclick="async() => await AddDependentTaskAsync()">Add</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int TaskId { get; set; }

    private TaskDetailsModel task { get; set; }
    private int dependentTaskId { get; set; }
    private AddCommentToTaskModel addCommentToTaskModel { get; set; }

    private int releaseId { get; set; }

    private string addingTaskToReleaseErrorMessage { get; set; }
    private string addingDependentTaskErrorMessage { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        task = null;
        addCommentToTaskModel = new AddCommentToTaskModel(TaskId);
        task = await TasksService.GetTaskAsync(TaskId);
    }

    private async Task AddDependentTaskAsync()
    {
        try
        {
            await TasksService.AddDependentTaskAsync(TaskId, Convert.ToInt32(dependentTaskId));

            addingDependentTaskErrorMessage = null;

            await OnParametersSetAsync();
        } catch (Exception e)
        {
            addingDependentTaskErrorMessage = e.Message;
        }
    }

    private async Task AddToReleaseAsync()
    {
        var addTaskModel = new AddTaskModel(releaseId);
        addTaskModel.TaskId = TaskId;

        try
        {
            await ReleasesService.AddTaskAsync(addTaskModel);

            addingTaskToReleaseErrorMessage = null;

            NavigationManager.NavigateTo(NavigationManager.Uri, true);
        } catch (Exception e)
        {
            addingTaskToReleaseErrorMessage = e.Message;
        }
    }

    private async Task AddCommentToTaskAsync(string identityUserName)
    {
        await TasksService.AddCommentToTaskAsync(addCommentToTaskModel, identityUserName);
        await OnParametersSetAsync();
    }

    private async Task DeleteCommentAsync(int taskCommentId)
    {
        await TasksService.DeleteCommentAsync(taskCommentId);
        await OnParametersSetAsync();
    }
}